# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / Build
build/
dist/
*.spec
installer_output/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Local configuration
config.ini
